* {
  text-align: center;
}

#weather_info {
  margin-top: 30px;
}

#weather__location {
  font-size: 1.5rem;
}

#weather__temperature {
  font-size: 5rem;
  display: inline-block;
}

#weather__icon {
  width: 90px;
  margin-right: 20px;
  /*margin-bottom: 16px;*/
  padding-bottom: 40px;
  display: inline-block;
}