* {
  text-align: center;
}

#weather_info {
  margin-top: 30px;
}

#weather__location {
  font-size: 1.75rem;
}

#weather__temperature {
  font-size: 5rem;
  display: inline-block;
}

#weather__icon {
  width: 90px;
  margin-right: 20px;
  /*margin-bottom: 16px;*/
  padding-bottom: 40px;
  display: inline-block;
}

#weather__description {
  font-size: 1.25rem;
}

#weather__humidity img, #weather__wind img {
  max-width: 13px;
  padding-bottom: 2px;
}